<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login-user" method="post">

        <h3>login on our platform</h3>

        <input type="email" name="email" placeholder="Enter Your email">
        <input type="password" name="password" placeholder="Enter password">
        <button>Login Here</button>

    </form>
</body>
</html>